[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/home/talos/system/systemfiles/launch.sh
Name=Blind code
Comment=ShopSense
Icon=/home/talos/system/systemfiles/talos.jpeg
